@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 240 10% 3.9%;
      --foreground: 0 0% 98%;

      --card: 240 10% 3.9%;
      --card-foreground: 0 0% 98%;

      --popover: 240 10% 3.9%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 98%;
      --primary-foreground: 240 5.9% 10%;

      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;

      --accent: 240 3.7% 15.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 240 4.9% 83.9%;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-full;
  }
}

.padel-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.padel-intro {
  padding: 20px;
}

.padel-title {
  color: #333;
  font-size: 2rem;
  margin-bottom: 10px;
}

.padel-text {
  color: #555;
  font-size: 1.2rem;
  line-height: 1.5;
}

/*Team*/

.team-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.team-name {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.player-list {
  margin-bottom: 10px;
}

.player-item {
  margin-left: 20px;
}


.group-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.teams-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}


/*Partite*/

.partite-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.partita-item {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.partita-details {
  font-weight: bold;
}

.now-playing {
  color: red; /* Colore rosso per la didascalia */
  animation: blink 1s infinite; /* Animazione lampeggiante */
  margin-left: 10px
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/*Menu*/

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f4f4f4;
}

.logoContainer {
  margin-right: 20px;
  height: 40px;
  background-color: #F2007D;
  padding: 5px;
}

.logo {
  max-height: 40px;
  height: 100%;
}

.menuList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuItem {
  display: inline-block;
  margin-right: 10px;
}

.menuItem a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.menuItem a:hover {
  color: #555;
}